/*Hyperlink fonts  */
a:link{
  color: blue;
  text-decoration: none;
}

a:hover{
  color: green;
  text-decoration: none;
}

a:visited{
  color:blue;
  text-decoration: none;
}
/*side menu content*/
.sidemenu{
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 44px; /* Stay at the top */
    left: 8px;
    background-color: #5f5f5f; /* Grey*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidemenu a{
  padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: black;/*#f1f1f1;*/
   display: block;
   transition: 0.0s;
}
/* When you mouse over the navigation links, change their color */
.sidemenu a:hover {
    color: #000;
}

/* Position and style the close button (top right corner) */
.sidemenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#topmenubar .openbtn{
  position: fixed;
  top: 0;
  font-size: 36px;
  margin-left: 50px;
}

.button{
  cursor:pointer;
}

/* Style page content */
#mainpage {
    margin-left: 20px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 16px;
}

#pageheader{
  background-color: #52b9e5;
  height: 80px;
  background: url(images/m2_header.jpg);
  border-radius: 20px;

}

.pagetitle{
  padding-top: 54px;
  color: #000;
  text-align: center;
  font-size: 36px;
  float:inherit;
  border-bottom: 2px solid #000;
}

#topmenubar{
  width: 100%;
  height:44px;
  position: fixed;
  top: 0px;
  background-color: #5f5f5f;
  color: #f1f1f1;
  z-index: 10;
}

#topmenubar a{
  padding: 10px 15px 9px 15px !important
}


/*Top menu bar with main page links*/
#topmenubar a:hover{
  background-color: #000;
}

#topmenubar .topbarbutton{
  color: inherit;
  height: 24px;
  background-color: inherit;
  text-decoration: none;
  vertical-align: middle;
  overflow:hidden;
  float: left;
}

#topmenubar .topbarbuttonselected{
  color: inherit;
  height: 24px;
  background-color: #000;
  text-decoration: none;
  vertical-align: middle;
  overflow:hidden;
  float: left;
}


/*Main page title    */
h1{
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
  display: block;
}
/*Secondary page titles for separate articles/sections    */
h2{
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
  display: block;
  font-size: 28px;
}

h3{
  font-family: "Segoe UI",Arial,sans-serif;
  font-size:inherit;
  font-style: italic;
  font-weight:bold;
}

/*image and figure formatting */
img {
  padding-top: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* Container class for images that are links*/
.link_image_container{
  float: left;
  position: relative;
  text-align: center;
  width:300px;
  height:400px;
  margin-right: 20px;
}


/*
.image_link_text {
  font-size: 22pt;
  color: rgb(255,255,255);
  position:absolute;
  top: 340px;
  width:300px;
  text-align: center;
  background-color: #5f5f5f;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 66px;
  padding-left: 60px;
}
*/
.image_link_text {
  font-size: 22pt;
  color: rgb(255,255,255);
  position:absolute;
  top: 370px;
  width:100%;
  text-align: center;
  background-color: #5f5f5f;
  padding-top:10px;
  padding-bottom: 10px;

}

.link_image_container a:hover ~ .image_link_text{
  font-size: 22pt;
  color: rgb(255,255,255);
  position:absolute;
  top: 270px;
  text-align: center;
  background-color: #5f5f5f;
  padding-top:10px;
  padding-bottom: 110px;
  transition: 0.4s;
}


#link_image{
  float: left;
  object-fit: cover;
  width:100%;
  height:100%;
}



figure{
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
}
#thumbnail{
max-width: 50%;
max-height: 50%;
float: centerx;
display: block;

}
/* embedded video */
iframe{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}
/* Displaying code in page */
pre, code {
  font-family: monospace, monospace;
  overflow: auto;
}
pre {
  overflow: auto;
  height: 300px;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

#codeframe{
  margin-left:inherit;
  float: left;
}

#codeframeRight{
  padding-left: 40px;
  float: left;
}
